<div class="home">
    <div class="home__background"></div>
    <div class="home__content grid-spaceAround">
        <div class="home__header col-12 grid-center-middle">
            <div class="home__title">The Star Wars bible</div>
        </div>
        <div class="home__people-container col-12 grid-center">
            <div>
                <swa-people></swa-people>
            </div>
        </div>
        <div class="home__pagination col-12">
            <swa-pagination></swa-pagination>
        </div>
    </div>
</div>
