.character-films {
    position: absolute;
    width: 80vw;
    height: 80vh;
    z-index: 2;
    background-color: #aaaaaa;
    top: 10vh;
    left: 10vw;
    border-radius: 20px;
    border: 5px solid #aaaaaa;
    animation: fade 0.75s ease-in;

    &__content {
        width: 79vw;
        height: 79vh;
        overflow-y: auto;
        border-radius: 15px;
    }

    &__header {
        height: 70px;
        width: 100%;
    }

    &__title {
        font-size: 35px;
        font-weight: 600;
    }

    &__header-button {
        font-size: 30px;
        font-weight: 500;
        padding: 20px 30px;
        cursor: pointer;
        transition: all 0.5s ease;
        text-transform: uppercase;
        line-height: 1;
        outline: none;
        color: #001f3f;

        &:hover {
            font-weight: 900;
        }
    }

    &__film-block {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
    }

    &__label {
        font-weight: 900;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
