<div class="people grid-center">
    <ng-container *ngIf="people">
        <div class="col">
            <ng-container *ngFor="let character of people.results">
                <swa-character
                    [character]="character"
                    (mouseover)="loadCharacterDetail(character)"
                    (click)="openCharacterFilms(character)"
                ></swa-character>
            </ng-container>
        </div>
        <div class="col">
            <swa-character-detail [character]="characterLoaded"></swa-character-detail>
        </div>
    </ng-container>
</div>
<ng-container *ngIf="characterToSeeTheFilms">
    <div class="people__character-films">
        <swa-character-films [character]="characterToSeeTheFilms" (closeWindow)="closeCharacterFilmsWindow()"></swa-character-films>
    </div>
</ng-container>
