<div class="people grid-center">
    <ng-container *ngIf="people">
        <div class="col">
            <ng-container *ngFor="let character of people.results">
                <swa-character
                    [character]="character"
                    (mouseover)="loadCharacterDetail(character)"
                    (mouseout)="hideCharacterDetail()"
                ></swa-character>
            </ng-container>
        </div>
        <div class="col">
            <swa-character-detail [character]="characterLoaded"></swa-character-detail>
        </div>
    </ng-container>
</div>
